# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts
.expo-shared/

# Logs
npm-debug.log*
yarn-error.log*
pnpm-debug.log*

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android

# Build folders
android/build/
ios/build/
ios/Pods/
dist/
build/

# Expo environment variables
.env
.env.local
.env.*.local

# Temporary files
*.tmp
*.swp

# Editor directories
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Metro bundler cache
metro-cache/

# React Native Packager cache
*.bundle
